ol {list-style-type: lower-roman;}
img {
  width: 20%;
}
table {
  border: 1px solid rgb(46, 170, 122);
}
#logo
{
  margin-top: -10px;
  float: left;
}
.menu {
  margin-top: 20px;
  float: center;
}
a:hover {
  color:blueviolet;
}
.menu a {
  background-color: rgb(231, 175, 102); 
  color: black; 
  padding: 14px 16px; 
  margin: 0px;
  font-size: 17px;
  float: left;
  text-decoration: underline rgb(0, 140, 255);; 
}

.menu a:hover {
  background-color: rgb(230, 47, 34); 
}

.menu a:active {
  background-color: rgb(117, 201, 120); 
  color: rgb(90, 197, 170);
}
form::first-line, fieldset {
  color: #2f235a;
  font-variant: small-caps;
}
table, th, td {
  border: 1px solid black;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin:10px;
}
/*nu merge*/
.flex-container div iframe:active,.flex-container div iframe:hover {
border:10px;
border-color: rgb(14, 12, 12);
border-width: thick;
}
@media screen and (min-width: 480px) {
  body {
    background-color: rgb(220, 245, 232);
  }
}
#myDIV {
  width: 300px;
  height: 200px;
  background-image: linear-gradient(to top, rgb(10, 131, 115), rgb(255, 136, 0));
  animation: mymove 3s infinite alternate-reverse;
  animation-timing-function: ease-in;
}
#sun line {
  animation: sun-waves 0.5s infinite alternate;
}
#fereastra {
  animation: culoare_fereastra 1s infinite alternate;
}
 .small { font: italic 13px sans-serif; }
 .heavy { font: bold 30px sans-serif; }
 .different { font: italic 40px serif; fill: rgb(255, 0, 128); }

 #textForMyDrawing text{
  animation: moveText 3s linear infinite;
}
@keyframes moveText
  {
    0%, 100% { transform: scale(0) rotate(33deg); }
    35%, 80% { transform: scale(1) rotate(0deg); }
  }

@keyframes sun-waves {
to{
  stroke-width: 6; 
}
}
@keyframes mymove {
  from {background-image:linear-gradient(to top, rgb(10, 131, 115), rgb(255, 136, 0));}
  to {background-image:linear-gradient(to bottom, rgb(10, 131, 115), rgb(255, 136, 0));}
}
@keyframes culoare_fereastra {
  from {fill: rgb(10, 123, 131);}
  to {fill: rgb(14, 12, 12);}
}
p.decorated {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
html.body {
  background-image: url("imagini/paper.jpg");
  /* background-repeat: repeat-y; */
}
section {
  border-style: solid;
  border-left-width: 3px;
  border-right-width: 3px;
  border-color:black;
  margin:3px;
}
.s1x4 {
  width:24%;
  float:left;
}
.s4x1 {
  width:90%;
}
.s2x2 {
  width:48%;
  float:left;
}